<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hungry hub</title>
    <link rel="stylesheet" href="css/style-suruchiAdmin.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>

<body>
    <div class="container">
        <aside>
            <div class="nav">
                <div class="top">
                    <a href="/"><img class="img-logo" src="img/logo.png" alt=""></a>

                    <div class="title">Hungry
                        <span>Hub</span>
                    </div>
                    <div class="close-btn"><span class="material-symbols-outlined">close</span></div>
                </div>

                <div class="sideitem">
                    <a href="/admin" class="active">
                        <span class="material-symbols-outlined"> home</span>
                        <span class="sidebar_title">Restaurants</span>

                    </a>
                    <a href="orders-admin">
                        <span class="material-symbols-outlined"> local_dining</span>
                        <span class="sidebar_title">Orders</span>

                    </a>

                    <a href="/logout">
                        <span class="material-symbols-outlined">logout</span>
                        <span class="sidebar_title">Log Out</span>

                    </a>
                </div>



            </div>

        </aside>
        <!----------end of side bar-->
        <div class="main">
            <div id="section">
                <div class="restaurants">
                    <div class="mainimg">
                        <img src="img/cakebake/cakebake.webp">
                    </div>
                    <div class="header-title">
                        <div>
                            <span class="material-symbols-outlined new">restaurant</span>
                            <h1>cakes & bake</h1>

                        </div>
                        <p>Discover unique taste near you</p>
                    </div>
                    <div class="roundimg">
                        <div class="imag">
                            <img src="img/cakebake/cake-round.png">
                        </div>
                    </div>


                </div>
                <div id="menu">

                    <div class="addbtn">

                        <div id="" class="addbttn" onclick="addfood()">add</div>

                    </div>



                    <div class="category"></div>
                    <div class="food">
                        {{#each cake}}
                        <div class="item">
                            <div class="l-detail">
                                <div class="food-name">{{this.foodName}}</div>
                                <div class="food-disc">{{this.foodDesc}}</div>

                                <div class="price">&#8377 <div>{{this.price}}</div>
                                </div>

                            </div>
                            <div class="r-detail">
                                <div class="pic"><img src="{{this.foodImg}}"></div>
                                {{!-- <div class="addbtn">

                                    <div id="{{this.classname}}" class="addbttn" onclick="addbtn('{{this.classname}}')">
                                        add</div>

                                </div> --}}
                            </div>
                        </div>
                        {{/each}}


                    </div>
                </div>
                <div id="addform" class="hidden-display">
                    <form id="adding" action="/cakebake-admin" method="POST">
                        <input class="input" type="text" name="foodName" placeholder="Enter Food Name" required>
                        <input class="input" type="text" name="foodImg" placeholder="img/cakebake/img name.png"
                            required>
                        <input class="input" type="text" name="foodDesc" placeholder="description" required>
                        <input class="input" type="number" name="price" placeholder="price..." required>
                        <button type="submit" class="login-btn active-btn">Add Food</button>
                    </form>
                </div>
            </div>

        </div>
        <!----------end of main-->
        <div class="lside">
            <div class="menu">
                <span class="material-symbols-outlined">menu</span>
            </div>
            <div class="theme">
                <div class="mode">
                    <span class=" active material-symbols-outlined ">light_mode</span>
                    <span class="  material-symbols-outlined">dark_mode</span>

                </div>


                <div class="profile">
                    <h2>Hey,</h2>
                    <h3>Sam</h3>
                    <img class="ppic" src="img/profile.jpg">
                </div>

            </div>
        </div>
    </div>

</body>
<script src="js/index-suruchi-admin.js"></script>

</html>