<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hunder hub</title>
    <link rel="stylesheet" href="css/style-profile.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>

<body class="body">

    <div class="container" id="container">
        <aside>
            <div class="nav">
                <div class="top">
                 <a href="/"><img class="img-logo" src="img/logo.png" alt=""></a>
                    <div class="title">Hungry
                        <span>Hub</span>
                    </div>
                    <div class="close-btn"><span class="material-symbols-outlined">close</span></div>
                </div>

                <div class="sideitem">
                    <a href="/" class="">
                        <span class="material-symbols-outlined"> home</span>
                        <span class="sidebar_title">Home</span>

                    </a>
                    <a href="/cart" >
                        <span class="material-symbols-outlined"> local_dining</span>
                        <span class="sidebar_title">Cart</span>

                    </a>
                    <a href="/order">
                        <span class="material-symbols-outlined">person</span>
                        <span class="sidebar_title">order</span>

                    </a>
                    <a href="">
                        <span class="material-symbols-outlined"> help</span>
                        <span class="sidebar_title">Help</span>

                    </a>
                </div>
                <div class="leftside">
                    <div class="theme">
                        <div class="mode">
                            <span class=" active material-symbols-outlined ">light_mode</span>
                            <span class="  material-symbols-outlined">dark_mode</span>

                        </div>


                        <div class="profile" class="active">
                            <h2 >Hey,</h2>
                            <h3>{{user.fName}}</h3>
                            <img class="ppic" src="img/user.png">
                        </div>

                    </div>
                </div>



            </div>

        </aside>
        <!----------end of side bar-->

        <!----------end of side bar-->
        <div class="main" id="main">
            <div class="cart-title"><span style="color: black;" class="material-symbols-outlined">person</span> profile</div>
            <div class="section" id="section">

                <div class="pro">
                   <img src="img/user.png" alt="">
                    <div class="name">{{user.fName}} {{user.lName}}</div>
                    <div>Phone No.-{{user.phoneNumber}}</div>
                    <div>Email-{{user.email}}</div>
                    <div class="checkout">
                        <div class="cbtn" onclick="logout()">LOGOUT</div>
                        {{!-- <button type="submit" class="cbtn">checkout</button> --}}
                    </div>
                </div>
        
    

            </div>
        
        </div>
        <!----------end of main-->
        <div class="google dis-block" id="google">
            <h1>add your location</h1>
            <div id="map"></div>
            <div class="submit-btn">
                <div class="cbtn sub-btn" onclick="order()">order</div>
            </div>
            </div>
    </div>
    
</body>



{{!-- <script src="http://code.jquery.com/jquery-1.11.2.min.js" type="text/javascript"></script> --}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="js/index-profile.js"></script>
<script src="https://cdn.jsdelivr.net/npm/handlebars@4.7.7/dist/handlebars.min.js"></script>



</html>